.mat-mdc-chip-set {
  max-width: 200px;
}
  



.container {
  display: flex;
  height: 100vh; /* Altura total de la ventana */
}

.sidenav {
  width: 250px;
  background-color: #333; /* Color de fondo del sidenav */
  color: white;
}

.sidenav ul {
  list-style: none;
  padding: 0;
}

.sidenav ul li {
  padding: 10px;
}

.content {
  flex-grow: 1; /* Hace que el contenido principal se expanda y ocupe el espacio restante */
  padding: 20px;
}

.toolbar {
  background-color: #2196F3; /* Color de fondo del toolbar */
  color: white;
}
